<app-header></app-header>

<div >
  
    
  <form #simpleForm ="ngForm" (ngSubmit) = "getUserValue(simpleForm.value)">
    <div class="container">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" ngModel class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" ngModel class="form-control" name="password" name="password" placeholder="Password">
      </div>
      <div class="form-group">
        <Button>Get Value</Button>
      </div>
      
    </div>
    
  </form>
  </div>

  